<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AASTHA</title>
        <!-- font awesome 5 link -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />

        <!-- google font -->
        <link href="https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat&family=Roboto&display=swap" rel="stylesheet">

    <!-- bootstrap4 cdn -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/styles.css">
    <link rel="stylesheet" href="/public/css/navbar.css">
    <link rel="stylesheet" href="/public/css/footer.css">
</head>
<body>


    <section class="navigation">
        <div class="nav-container">
          <div class="brand">
            <a href="#!">AASTHA</a>
          </div>
          <nav>
            <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
            <ul class="nav-list">
              <li>
                <a href="/organization">Search Organizations</a>
              </li>
              <li>
                <a href="/aboutus">About Us</a>
              </li>
              <li>
                <a href="/signup">Sign Up</a>
              </li>
            </ul>
          </nav>
        </div>
    </section>

    <div class="container">
        <div class="row mt-5">
          <div class="col-3 col-sm-8 col-md-6 col-lg-4">
            <div class="card">
               <img class="card-img" src="/public/img/ssmc.jpg" alt="Bologna">
              <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
                <h4 class="card-title">Bologna</h4>
                <h6 class="card-subtitle mb-2">Emilia-Romagna Region, Italy</h6>
                <p class="card-text">It is the seventh most populous city in Italy, at the heart of a metropolitan area of about one million people. </p>
                <div class="link d-flex">
                  <a href="#" class="card-link text-warning">Read More</a>
                  <a href="#" class="card-link text-warning">Book a Trip</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-3 col-sm-8 col-md-6 col-lg-4">
            <div class="card">
               <img class="card-img" src="/public/img/evercare.jpg" alt="Bologna">
              <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
                <h4 class="card-title">Bologna</h4>
                <h6 class="card-subtitle mb-2">Emilia-Romagna Region, Italy</h6>
                <p class="card-text">It is the seventh most populous city in Italy, at the heart of a metropolitan area of about one million people. </p>
                <div class="link d-flex">
                  <a href="#" class="card-link text-warning">Read More</a>
                  <a href="#" class="card-link text-warning">Book a Trip</a>
                </div>
              </div>
            </div>
        </div>

        <div class="col-3 col-sm-8 col-md-6 col-lg-4">
            <div class="card">
               <img class="card-img" src="/public/img/united2.png" alt="Bologna">
              <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
                <h4 class="card-title">Bologna</h4>
                <h6 class="card-subtitle mb-2">Emilia-Romagna Region, Italy</h6>
                <p class="card-text">It is the seventh most populous city in Italy, at the heart of a metropolitan area of about one million people. </p>
                <div class="link d-flex">
                  <a href="#" class="card-link text-warning">Read More</a>
                  <a href="#" class="card-link text-warning">Book a Trip</a>
                </div>
              </div>
            </div>
        </div>
      </div>

      <div class="row mt-5 mb-5">
        <div class="col-3 col-sm-8 col-md-6 col-lg-4">
          <div class="card" style="color:black;">
             <img class="card-img" src="/public/img/popular.jpg" alt="Bologna">
            <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
              <h4 class="card-title" style="color:rgb(0, 0, 0);">Bologna</h4>
              <h6 class="card-subtitle mb-2" style="color:black;">Emilia-Romagna Region, Italy</h6>
              <p class="card-text" style="color:black;">It is the seventh most populous city in Italy, at the heart of a metropolitan area of about one million people. </p>
              <div class="link d-flex " style="color:black;">
                <a href="#" class="card-link text-black">Read More</a>
                <a href="#" class="card-link text-warning">Book a Trip</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-3 col-sm-8 col-md-6 col-lg-4">
          <div class="card" style="color:black;">
             <img class="card-img" src="/public/img/birdem.jfif" alt="Bologna">
            <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
              <h4 class="card-title">Bologna</h4>
              <h6 class="card-subtitle mb-2">Emilia-Romagna Region, Italy</h6>
              <p class="card-text">It is the seventh most populous city in Italy, at the heart of a metropolitan area of about one million people. </p>
              <div class="link d-flex">
                <a href="#" class="card-link text-warning">Read More</a>
                <a href="#" class="card-link text-warning">Book a Trip</a>
              </div>
            </div>
          </div>
      </div>

      <div class="col-3 col-sm-8 col-md-6 col-lg-4">
          <div class="card">
             <img class="card-img" src="/public/img/dmc.png" alt="Bologna">
            <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
              <h4 class="card-title">Bologna</h4>
              <h6 class="card-subtitle mb-2">Emilia-Romagna Region, Italy</h6>
              <p class="card-text">It is the seventh most populous city in Italy, at the heart of a metropolitan area of about one million people. </p>
              <div class="link d-flex">
                <a href="#" class="card-link text-warning">Read More</a>
                <a href="#" class="card-link text-warning">Book a Trip</a>
              </div>
            </div>
          </div>
      </div>
    </div>

    </div>
            

    <footer class="site-footer">
      <div class="container">
          <div class="row">
              <div class="col-sm-12 col-md-6">
                  <h6>About</h6>
                  <p class="text-justify">Aastha is an energency blood-bank management system that helps people to
                      find out nearby blood-banks according to their needs as well as connects them with the donors.
                  </p>
              </div>

              <div class="col-xs-6 col-md-3">
                  <h6>Categories</h6>
                  <ul class="footer-links">
                      <li><a href="http://scanfcode.com/category/c-language/">About Blood</a></li>
                      <li><a href="http://scanfcode.com/category/front-end-development/">Organizations</a></li>
                      <li><a href="http://scanfcode.com/category/back-end-development/">Donors</a></li>
                      <li><a href="http://scanfcode.com/category/java-programming-language/">Eligibility</a></li>
                      <!-- <li><a href="http://scanfcode.com/category/android/">Android</a></li>
              <li><a href="http://scanfcode.com/category/templates/">Templates</a></li> -->
                  </ul>
              </div>

              <div class="col-xs-6 col-md-3">
                  <h6>Quick Links</h6>
                  <ul class="footer-links">
                      <li><a href="http://scanfcode.com/about/">About Us</a></li>
                      <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
                      <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>
                      <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
                      <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
                  </ul>
              </div>
          </div>
          <hr>
      </div>
      <div class="container">
          <div class="row">
              <div class="col-md-8 col-sm-6 col-xs-12">
                  <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by
                      <a href="#">AASTHA</a>.
                  </p>
              </div>



              <!-- bootstrap js, jquery, popper -->
              <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
                  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
                  crossorigin="anonymous"></script>
              <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
                  integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
                  crossorigin="anonymous"></script>
              <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
                  integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
                  crossorigin="anonymous"></script>
</body>

</html>

<script>
  (function ($) { // Begin jQuery
      $(function () { // DOM ready
          // If a link has a dropdown, add sub menu toggle.
          $('nav ul li a:not(:only-child)').click(function (e) {
              $(this).siblings('.nav-dropdown').toggle();
              // Close one dropdown when selecting another
              $('.nav-dropdown').not($(this).siblings()).hide();
              e.stopPropagation();
          });
          // Clicking away from dropdown will remove the dropdown class
          $('html').click(function () {
              $('.nav-dropdown').hide();
          });
          // Toggle open and close nav styles on click
          $('#nav-toggle').click(function () {
              $('nav ul').slideToggle();
          });
          // Hamburger to X toggle
          $('#nav-toggle').on('click', function () {
              this.classList.toggle('active');
          });
      }); // end DOM ready
  })(jQuery); // end jQuery
</script>